# FDA HW2 - Decision Tree
## Rain Tomorrow or not 
* dataset: [Rain in Australia](https://www.kaggle.com/jsphyg/weather-dataset-rattle-package)
* object: to predict whether it will rain tomorrow or not

### prepare data

In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import train_test_split

import os
print(os.listdir('./data'))

['weather-dataset-rattle-package.zip', 'suicide-rates-overview-1985-to-2016.zip', 'weatherAUS.csv', 'master.csv']

In [2]:
df = pd.read_csv('./data/weatherAUS.csv')
df.head(5)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [3]:
#df = df.fillna(-1)
df = df.dropna()
df.head(3)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
5939,2009-01-01,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,0.0,No
5940,2009-01-02,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,0.0,No
5942,2009-01-04,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,0.0,No

### drop the attribute (columns) that not significant

In [4]:
df = df.drop(['Date', 'Location', 'RISK_MM', 'WindDir9am', 
              'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm', ], axis=1)
df.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
5939,17.9,35.2,0.0,12.0,12.3,SSW,48.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
5940,18.4,28.9,0.0,14.8,13.0,S,37.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
5942,19.4,37.6,0.0,10.8,10.6,NNE,46.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
5943,21.9,38.4,0.0,11.4,12.2,WNW,31.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
5944,24.2,41.0,0.0,11.2,8.4,WNW,35.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No

In [5]:
X = pd.get_dummies(df.drop('RainTomorrow', axis=1))
#Y = pd.get_dummies(df['RainTomorrow'])
Y = df.RainTomorrow.astype('category').cat.codes
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [6]:
X_train.head(5)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,...,WindGustDir_S,WindGustDir_SE,WindGustDir_SSE,WindGustDir_SSW,WindGustDir_SW,WindGustDir_W,WindGustDir_WNW,WindGustDir_WSW,RainToday_No,RainToday_Yes
137318,18.4,29.9,0.0,7.0,9.4,44.0,31.0,25.0,1015.0,1010.5,...,0,1,0,0,0,0,0,0,1,0
63048,17.3,34.8,0.0,8.0,13.0,41.0,28.0,19.0,1024.0,1020.9,...,0,0,0,0,0,0,0,0,1,0
73470,11.1,17.6,1.6,4.2,7.6,57.0,93.0,63.0,1000.7,1001.4,...,0,0,0,0,0,1,0,0,0,1
104298,14.5,33.3,0.0,10.2,9.2,54.0,24.0,5.0,1012.0,1005.7,...,0,0,0,0,0,0,0,0,1,0
85529,24.0,30.2,0.2,7.8,3.5,35.0,78.0,65.0,1013.9,1011.1,...,0,1,0,0,0,0,0,0,1,0

### Building the decision tree

In [7]:
dtree = DecisionTreeClassifier(max_depth=4)
dtree = dtree.fit(X_train, y_train)

In [8]:
from sklearn.metrics import accuracy_score

y_predict = dtree.predict(X_test)
accuracy_score(y_predict, y_test)

0.8415455512229706

In [9]:
from sklearn.externals.six import StringIO
import pydotplus

###

dot_data = StringIO()
export_graphviz(dtree, 
                out_file=dot_data,  
                filled=True, 
                feature_names=list(X_train),
                class_names=['NO', 'YES'],
                special_characters=True)

graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
graph.write_pdf("tree.pdf")
graph.write_png("tree.png")


###

True

In [10]:
dtree.feature_importances_

array([0.        , 0.        , 0.        , 0.        , 0.16248279,
       0.05725455, 0.        , 0.68778794, 0.        , 0.09247472,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        , 0.        , 0.        , 0.        ,
       0.        , 0.        ])

## Decision Tree
![tree](tree.png)

### Conclusion
* 由gini值來看，沒有下雨的日子，attribute的一致性較高