In [56]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import train_test_split

import os
print(os.listdir('./data'))

['weather-dataset-rattle-package.zip', 'suicide-rates-overview-1985-to-2016.zip', 'weatherAUS.csv', 'master.csv']

In [57]:
df = pd.read_csv('./data/weatherAUS.csv')
df.head(5)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,1.0,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [58]:
df = df.fillna(-1)
df.head(3)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,-1.0,-1.0,W,44.0,W,...,22.0,1007.7,1007.1,8.0,-1.0,16.9,21.8,No,0.0,No
1,2008-12-02,Albury,7.4,25.1,0.0,-1.0,-1.0,WNW,44.0,NNW,...,25.0,1010.6,1007.8,-1.0,-1.0,17.2,24.3,No,0.0,No
2,2008-12-03,Albury,12.9,25.7,0.0,-1.0,-1.0,WSW,46.0,W,...,30.0,1007.6,1008.7,-1.0,2.0,21.0,23.2,No,0.0,No

In [59]:
df = df.drop(['Location', 'WindGustDir', 'WindGustSpeed', 'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm'], axis=1)
df.head()

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindDir9am,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
0,2008-12-01,13.4,22.9,0.6,-1.0,-1.0,W,71.0,22.0,1007.7,1007.1,8.0,-1.0,16.9,21.8,No,0.0,No
1,2008-12-02,7.4,25.1,0.0,-1.0,-1.0,NNW,44.0,25.0,1010.6,1007.8,-1.0,-1.0,17.2,24.3,No,0.0,No
2,2008-12-03,12.9,25.7,0.0,-1.0,-1.0,W,38.0,30.0,1007.6,1008.7,-1.0,2.0,21.0,23.2,No,0.0,No
3,2008-12-04,9.2,28.0,0.0,-1.0,-1.0,SE,45.0,16.0,1017.6,1012.8,-1.0,-1.0,18.1,26.5,No,1.0,No
4,2008-12-05,17.5,32.3,1.0,-1.0,-1.0,ENE,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,0.2,No

In [60]:
X = pd.get_dummies(df.drop('RainTomorrow', axis=1))
Y = pd.get_dummies(df['RainTomorrow'])

X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [61]:
X_train.head(5)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,...,WindDir9am_SE,WindDir9am_SSE,WindDir9am_SSW,WindDir9am_SW,WindDir9am_W,WindDir9am_WNW,WindDir9am_WSW,RainToday_-1,RainToday_No,RainToday_Yes
17969,15.1,23.9,0.0,-1.0,-1.0,38.0,68.0,1001.9,1002.4,-1.0,...,0,0,0,0,0,0,0,0,1,0
124769,9.7,14.2,7.6,-1.0,-1.0,91.0,56.0,1008.2,1007.7,-1.0,...,0,0,0,0,0,1,0,0,0,1
39287,13.2,25.4,0.0,3.2,8.8,79.0,63.0,1025.2,1021.5,6.0,...,0,0,0,0,1,0,0,0,1,0
127749,7.6,14.8,0.0,4.0,7.0,52.0,45.0,1004.6,1001.4,-1.0,...,0,0,0,0,0,1,0,0,1,0
40651,12.9,22.2,0.0,4.0,7.9,69.0,52.0,1023.0,1021.2,6.0,...,0,0,0,1,0,0,0,0,1,0

In [62]:
dtree = DecisionTreeClassifier(max_depth=5, min_samples_split=20)
dtree = dtree.fit(X_train, y_train)

In [63]:
from sklearn.metrics import accuracy_score

y_predict = dtree.predict(X_test)
accuracy_score(y_predict, y_test)

1.0

In [66]:
from sklearn.externals.six import StringIO
import pydotplus

dot_data = StringIO()
export_graphviz(dtree, 
                out_file=dot_data,  
                filled=True, 
                feature_names=list(X_train),
                class_names=['Rain Tomorrow','Not Rain Tomorrow'],
                special_characters=True)
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_pdf('tree.pdf')

AttributeError: 'str' object has no attribute 'getvalue'